body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black;
}
/* navbar starts */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
   
}

.logo {
    font-size: 24px;
    color: white;
    margin: auto 0;
}

.font-700 {
    font-weight: 700;
}

.dot {
    color: #5cc97b;
    font-weight: 700;
}

.nav-links-wrapper {
    display: flex;
    list-style: none;
    margin: auto 0;
    
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 12px;
}

.primary-button {
    color: white;
    text-decoration: none;
    background-color: #ec4d4a;
    margin: auto 0;
    padding: 8px 16px;
    border-radius: 50px;
    

}

ul {
    padding: 0;
}
/* navbar ends */
/* top section starts */

.top-section-wrapper {
    color: white;
    display: flex;
}
