body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: black;
   
}

.logo {
    font-size: 24px;
    color: white;
}

.font-700 {
    font-weight: 700;
}

.dot {
    color: #5cc97b;
    font-weight: 700;
}